*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
.title{
    text-align: center;
    margin: 100px  0 0 0;
}
.titleB{
  text-align: center;
  margin: 100px  0 0 0;
  color: #EBEBEB;
}
.subtitle{
  margin: 0 20px;
  padding: 0;
}
main{
  background-color: #EBEBEB;
}
.skills{
  background-color: black;
  padding: 20px;
  margin: 100px 0;
}
.img_carousel{
    height: 200px;
    scale: 1.5;
}
.carousel{
    display: block;
}
.content {
  width:240px;
  font-size:20px;
  line-height:40px;
  font-family:'Muli';
  color:#EBEBEB;
  height:40px;
  position: relative;
  margin:10vh auto;
  
  &:before {
    content:'[';
    position:absolute;
    left:-50px;
    line-height:40px;
  }
  &:after {
    content:']';
    position:absolute;
    right:-50px;
    line-height:40px;
  }
  &:after, &:before {
    color:#ffffff;
    font-size:42px;
    animation:2s linear 0s normal none infinite opacity;
    -webkit-animation:2s ease-out 0s normal none infinite opacity;
    -moz-animation:2s ease-out 0s normal none infinite opacity;
    -o-animation:2s ease-out 0s normal none infinite opacity;
  }
}

.visible {
  float:left;
  font-weight:600;
  overflow:hidden;
  height:40px;   
}

.p_nav {
  display:inline;
  float:left;
  margin:0;
}

.ul_nav {
  margin-top:0;
  padding-left:100px;
  text-align:left;
  list-style:none;
  animation:6s linear 0s normal none infinite change;
  -webkit-animation:6s linear 0s normal none infinite change;
  -moz-animation:6s linear 0s normal none infinite change;
  -o-animation:6s linear 0s normal none infinite change;
}

.ul_nav .li_mav {
  line-height:40px;
  margin:0;
}

@-webkit-keyframes opacity {
  0%   {opacity:0;}
  50%  {opacity:1;}
  100% {opacity:0;}
}
@keyframes opacity {
  0%   {opacity:0;}
  50%  {opacity:1;}
  100% {opacity:0;}
}

@-webkit-keyframes change {
  0%   {margin-top:0;}
  15%  {margin-top:0;}
  25%  {margin-top:-40px;}
  40%  {margin-top:-40px;}
  50%  {margin-top:-80px;}
  65%  {margin-top:-80px;}
  75%  {margin-top:-40px;}
  85%  {margin-top:-40px;}
  100% {margin-top:0;}
}
@keyframes change {
  0%   {margin-top:0;}
  15%  {margin-top:0;}
  25%  {margin-top:-40px;}
  40%  {margin-top:-40px;}
  50%  {margin-top:-80px;}
  65%  {margin-top:-80px;}
  75%  {margin-top:-40px;}
  85%  {margin-top:-40px;}
  100% {margin-top:0;}
}

.descubrinos{
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.filosofia{
  display: flex;
  flex-wrap: wrap;
  margin: 100px 20px;
  padding: 20px;
  border-radius: 20px;
  background-size: cover;
  background-image: url(/img/sea-7423274_640.jpg);
}
.filo_img{
  margin: 100px 0;
  height: 200px;
  filter: brightness(.8);
}
.filo_imgb{
  margin: 100px 0;
  height: 200px;
  transition: .5s;
}
.front_filo_img{
  position: relative;
}
.back_filo_img{
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.filo_imgb:active{
  translate: 35vw;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
}
.card_{
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: black;
  width: 80%;
  margin: 20px;
}
.card_body{
  margin: 1rem;
  color:#EBEBEB ;
}
.card_title{
font-weight: 700;
}

.card_img{
  height: 400px;
  object-fit: cover;
}
.boton{
  display: inline-block;
  background-color: #EBEBEB;
  padding: 20px;
  text-decoration: none;
  color: black;
  border-radius: 8px;
  transition: .3s;
  font-weight: 500;
}
.boton:hover{
  background-color: #2DAAE1;
  color: #EBEBEB;
}
.caja_video{
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
}
.video{
  width: 100vw;
}