.caja__main {
  height: 85vh;
  width: 100%;
  display: inline-block;
  flex-direction: column-reverse;
  justify-content:space-between;
  padding: 0;
}
.mockup {
  width: 120px;
  max-height: 90vh;
  margin: auto;
}
.caja__textos {
  padding-left: 2vh;
  width: 80%;
  text-align: left;
  display: block;
}
.title_section1 {
  font-size: 40px;
  text-align: left;
  font-weight: 300;
}

.title__active {
  font-weight: 700;
  transform-origin: center;
  animation:3.5s linear -.5s normal none infinite opacity;
}

.text__active {
  font-weight: 700;
}

.cta {
  padding: 20px 30px;
  display: inline-block;
  background-color: #000;
  color: #EBEBEB;
  text-decoration: none;
  font-weight: 700;
  border-radius: 6px;
}

.cta:hover {
  background-color: #2DAAE1;
  transition: 0.5s;
  color: #fafafa;
}

