.caja__main {
  height: calc(100vh - 48px);
  display: flex;
  flex-direction: column-reverse;
  justify-content:space-between;
  padding: 0;
  padding: 3vh;
}
.mockup {
  width: 120px;
  max-height: 90vh;
  margin: auto;
}
.caja__textos {
  width: 80%;
  text-align: left;
  display: block;
}
.title_section1 {
  font-size: 40px;
  text-align: left;
  font-weight: 300;
}

.title__active {
  font-weight: 700;
  animation: latidos 4s infinite;
  transform-origin: center;
}

.text__active {
  font-weight: 700;
}

.cta {
  padding: 20px 30px;
  display: inline-block;
  background-color: #000;
  color: #EBEBEB;
  text-decoration: none;
  font-weight: 700;
  border-radius: 6px;
}

.cta:hover {
  background-color: #2DAAE1;
  transition: 0.5s;
  color: #fafafa;
}

@keyframes latidos {
  from { transform: none; opacity: 50%;}
  50% { transform: scale(1.1); opacity: 0%;}
  to { transform: none; opacity: 100%;}
}
